<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<footer>
  <div class="f-info">

    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brand">
      &copy; Wanderlust Private Limited
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <span>|</span>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>