<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">

  <div class="card shadow-lg p-4">

    <h1 class="text-danger">Error</h1>
    <h4><%= message %></h4>

    <a href="/listings" class="btn btn-dark mt-3">Go Back</a>

  </div>

</div>